body {
  font-family: 'Nunito';
}

#hero {
  position: relative;
  background-image: url('https://source.unsplash.com/random/1280x400');
  background-size: cover;
  border-radius: 15px;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 15px;
}