body {
    font-family: 'Nunito';
}

.notification {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}  
  
.success {
    color: green;
}  
  
.error {
    color: red;
}

#hero {
    position: relative;
    background-image: url('https://source.unsplash.com/random/1280x400');
    background-size: cover;
    border-radius: 15px;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
}
